<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <% if resource.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-white p-8 rounded-lg shadow-lg mb-4">
    <div class="text-2xl items-center items-center flex flex-col mb-6"> Sign Up</div>
    <div class="field mb-2">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div>

      <div class="field mb-2">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autocomplete: "last_name" %>
      </div>

      <div class="field mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field mb-2">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mb-2">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
        <p>Already have an account? <%= render "devise/shared/links" %></p>
      </div>
  </div>
<% end %>

